{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Gestión de Productos{% endblock %}

{% block header %}
    <h2>BIENVENIDOS AL SISTEMA DE CONTROL Y GESTION DE DISTRIBUIDOR EL 104</h2>
{% endblock %}

{% block content %}
    <article>
        <h2>SOMOS LA MEJOR OPCION PARA TU FAMILIA</h2>
        <p>El distribuidor 104 es la mejor opción para la compra de pijamas para toda la familia debido a su amplia variedad de diseños, alta calidad de materiales y precios competitivos. Además, su atención al cliente es excepcional, lo que garantiza una experiencia de compra satisfactoria. ¡No dudes en elegirlos para encontrar las pijamas perfectas para cada miembro de la familia! 😊
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
        <div class="banner">
            <img src="D:\ADSO\.Actividad de aprendizaje GA7-220501096-AA3\ACTIVIDAD 1\CRUDdjango\inventario\static\media" alt="Logo del Distribuidor 104" class="logo-banner">
        </div>
    </aside>
{% endblock %}




